<section class='section-container'>

  <div class='section-header'>
    <h2>Catálogo de Gêneros</h2>
    <%= link_to "Adicionar gênero", new_genre_path, class: "main-button" %>
  </div>

  <% if @genres.empty? %>
    <div class="no-content">
      <p class='no-content-message'>Nenhum gênero cadastrado.</p>

      <br>

      <p class='be-the-first'>Seja o primeiro a cadastrar um gênero no sistema.</p>
      <%= link_to "Adicionar um novo gênero", new_genre_path, class: "main-button" %>
    </div>
  <% end %>

  <% if @genres.any? %>
    <div class='index-container'>

      <% @genres.each do |genre| %>
        <div class='index-card'>

          <h3><%= genre.name %></h3>

          <div class='index-actions'>
            <%= link_to "Ver detalhes", genre_path(genre), class: "btn-details" %>
            <%= link_to "Editar", edit_genre_path(genre), class: "btn-edit" %>

            <%= link_to "Excluir", genre_path(genre), class: "btn-delete",
              data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este gênero?" }
            %>

          </div>

        </div>
      <% end %>

    </div>
  <% end %>


</section>
