<section class='new-genre-container'>

  <h2>Cadastrar novo Gênero</h2>

  <%= link_to root_path, class: "back-link" do %>
    <div class='back'>
      <img src="/imgs/blue-back-arrow.png" alt="Voltar">
      Voltar
    </div>
  <% end %>

  <%= form_with model: @genre do |form| %>

    <div class="genre-name">
      <%= form.label :name, "Nome do Gênero" %>
      <%= form.text_field :name %>
    </div>

    <div class="submit-container">
      <%= form.submit "Criar", class: "submit-button" %>
    </div>

  <% end %>
</section>
