<section class='section-container align-center'>

  <h2 class='section-title'>Cadastrar novo Gênero</h2>

  <div class="error">
    <% if flash[:errors] %>
      <p>
        <%= format_error_messages(flash[:errors]) %>
      </p>
    <% end %>
  </div>

  <%= form_with model: Genre.new, html: { class: "form genre-form" } do |form| %>

    <div class="name">
      <%= form.label :name, "Nome do Gênero:" %>
      <%= form.text_field :name %>
    </div>

    <div class="submit">
      <%= form.submit "Cadastrar", class: "submit-button main-button" %>
    </div>

  <% end %>
</section>
