<section class='section-container align-center'>

  <h2 class='section-title'>Gênero <%= @genre.name %></h2>

  <div class='genre-container'>
    <h3 class='genre-title'>Filmes do Gênero</h3>

    <% if @genre.movies.empty? %>

      <div class='no-content'>
        <p class='no-movies'>Nenhum filme cadastrado para este gênero.</p>

        <p class='be-the-first'>Seja o primeiro a cadastrar um filme deste gênero no sistema.</p>

        <%= link_to "Adicionar um novo filme", new_movie_path %>
      </div>

    <% end %>

    <% @genre.movies.each do |movie| %>
      <%= link_to movie_path(movie), class: "movie-link" , title: "Ver detalhes de #{movie.title}" do %>
        <div class='movie-card'>
          <%= movie.title %>
          <img src="<%= movie.cover_url %>" alt="Capa de <%= movie.title %>"/>
          <%= "Ver detalhes" %>
        </div>
      <% end %>
    <% end %>

  </div>

</section>
