<section class='section-container'>

  <div class='section-header'>
    <h2>Catálogo de Filmes</h2>
    <%= link_to "Adicionar filme", new_movie_path, class: "main-button" %>
  </div>

  <div class="success">
    <% if flash[:success] %>
      <p>
        <%= flash[:success] %>
      </p>
    <% end %>
  </div>

  <div class="error">
    <% if flash[:error] %>
      <p>
        <%= flash[:error] %>
      </p>
    <% end %>
  </div>

  <% if @movies.empty? %>
    <div class="no-content">
      <p class='no-content-message'>Nenhum filme cadastrado.</p>

      <br>

      <p class='be-the-first'>Seja o primeiro a cadastrar um filme no sistema.</p>
      <%= link_to "Adicionar um novo filme", new_movie_path, class: "main-button" %>
    </div>
  <% end %>

  <% if @movies.any? %>

    <div class='index-container'>
      <% @movies.each do |movie| %>

        <div class='index-card'>

          <h3 class="<%= title_font_size_class(movie.title) %>">
            <%= link_to truncate(movie.title, length: 37), movie_path(movie) %>
          </h3>

          <div class="flip-card">

            <div class="flip-card-inner">

              <div class="flip-card-front">
                <%= image_tag (movie.cover_url != '' ? movie.cover_url : '/imgs/no-cover.jpg'),
                  alt: "Capa de #{movie.title}"
                %>
              </div>

              <div class="flip-card-back cover-card-back">
                  <p><span>Gênero</span>: <br> <%= movie.genre.name %></p>
                  <p><span>Duração</span>: <br> <%= movie.duration %> minutos</p>

                  <p>
                    <span>País de Origem</span>:
                    <br>
                    <span class="<%= country_flag_class(movie.country) %>"></span>
                    <%= movie.country %>
                  </p>

                  <%= link_to "Ver Detalhes", movie_path(movie), class: "main-button" %>
              </div>

            </div>

          </div>

        </div>

      <% end %>
    </div>

  <% end %>

</section>
