<section class='section-container align-center'>
	<h2 class='section-title'>Cadastrar novo Filme</h2>

  <div class="error">
    <% if flash[:errors] %>
      <p>
        <%= flash[:errors] + format_errors(@errors, "movie") %>
      </p>
    <% end %>
  </div>

  <% if @genres.empty? || @directors.empty?%>

    <% both_empty = @genres.empty? && @directors.empty? %>
    <% message = Genre.all.empty? ? "Nenhum gênero encontrado." : "Nenhum diretor encontrado." %>
    <% message = "Nenhum gênero ou diretor encontrado." if both_empty %>

    <div class="no-content">
      <p class='no-content-message'> <%= message %></p>
      <p class='done-it-first'>Para cadastrar um filme, primeiro cadastre pelo menos um gênero e um diretor.</p>

      <div class='no-content-buttons'>
        <%= link_to "Cadastrar gênero", new_genre_path, class: "main-button" if @genres.empty? %>
        <%= link_to "Cadastrar diretor", new_director_path, class: "main-button" if @directors.empty? %>
      </div>
    </div>

  <% end %>

  <% if @genres.any? && @directors.any? %>

    <%= render partial: "form" %>
  <% end %>

</section>