<section class='section-container align-center'>
  <h2 class='section-title'>Filme <%= @movie.title %></h2>

  <div class='movie-details'>

    <img src="<%= @movie.cover_url %>" alt="Capa de <%= @movie.title %>">

    <div class='movie-info'>

      <h3>Informações sobre o Filme</h3>

      <div class='movie-actions'>
        <%= link_to "Editar", edit_movie_path(@movie), class: "btn-edit" %>
        <%= link_to "Excluir", movie_path(@movie), class: "btn-delete", data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este filme?" } %>
      </div>

      <p class='movie-title'><strong>Título:</strong> <%= @movie.title %></p>
      <p><strong>Genero:</strong> <%= link_to @movie.genre.name, genre_path(@movie.genre) %></p>
      <p><strong>Diretor:</strong> <%= link_to @movie.director.name, director_path(@movie.director) %></p>
      <p><strong>País de Origem:</strong> <%= @movie.country %></p>
      <p><strong>Duração:</strong> <%= @movie.duration %> min.</p>
      <p><strong>Data de Lancamento:</strong> <%= @movie.year.split("-")[0] %></p>

      <p><strong>Sinopse:</strong></p>
      <p class='movie-synopsis'><%= @movie.synopsis %></p>

    </div>

  </div>
</section>