<%= form_with model: @director, html: { class: "form" } do |form| %>
  <div class="name">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <p class="form-error"><% if @errors %><%= @errors[:name].first %><% end %></p>
  </div>

  <div class="country">
    <%= form.label :nacionality %>
    <%= form.text_field :nacionality %>
    <p class="form-error"><% if @errors %><%= @errors[:nacionality].first %><% end %></p>
  </div>

  <div class="date">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate %>
  </div>

  <div class="genre">
    <%= form.label :favorite_genre_id %>

    <%= form.collection_select :favorite_genre_id,
      Genre.order(:name), :id, :name, prompt: "Selecione"
    %>

    <p class="form-error"><% if @errors %><%= @errors[:favorite_genre_id].first %><% end %></p>
  </div>

  <div class="submit">
    <%= form.submit "Cadastrar", class: "submit-button main-button" %>
  </div>
<% end %>