<section class='edit-director-container'>
    <h2>Editar Diretor </h2>

    <%= link_to directors_path, class: "back-link" do %>
      <div class='back'>
        <img src="/imgs/blue-back-arrow.png" alt="Voltar">
        Voltar
      </div>
    <% end %>

    <%= form_with model: @director do |form| %>
        <div class="director-name">
            <%= form.label :name, "Nome" %>
            <%= form.text_field :name %>
        </div>

        <div class="director-nationality">
            <%= form.label :nacionality, "Nacionalidade" %>
            <%= form.text_field :nacionality %>
        </div>

        <div class="director-birthdate">
            <%= form.label :birthdate, "Data de Nascimento" %>
            <%= form.date_field :birthdate %>
        </div>

        <div class="director-favorite-genre">
            <%= form.label :favorite_genre_id, "Gênero Favorito" %>
            <%= form.collection_select :favorite_genre_id, Genre.order(:name), :id, :name %>
        </div>

        <div class="submit-container">
            <%= form.submit "Editar", class: "submit-button" %>
        </div>
    <% end %>
</section>
