<section class='section-container'>

  <div class='section-header'>
    <h2>Catálogo de Diretores</h2>
    <%= link_to "Adicionar diretor", new_director_path, class: "main-button" %>
  </div>

  <div class="error">
    <% if flash[:errors] %>
      <p>
        <%= flash[:errors] %>
      </p>
    <% end %>
  </div>

  <div class="success">
    <% if flash[:success] %>
      <p>
        <%= flash[:success] %>
      </p>
    <% end %>
  </div>

  <% if @directors.empty? %>
    <div class="no-content">
      <p class='no-content-message'>Nenhum diretor cadastrado.</p>

      <br>

      <p class='be-the-first'>Seja o primeiro a cadastrar um diretor no sistema.</p>
      <%= link_to "Adicionar um novo diretor", new_director_path, class: "main-button" %>
    </div>
  <% end %>

  <% if @directors.any? %>
    <div class='index-container'>

      <% @directors.each do |director| %>
        <div class='index-card director-card'>

          <h3 class="<%= title_font_size_class(director.name) %>">
            <%= director.name %>
          </h3>

          <div class='index-director-info'>
            <p><strong>Nacionalidade:</strong> <%= director.nacionality %></p>
            <p><strong>Gênero Favorito:</strong> <%= director.favorite_genre.name %></p>

            <% if director.birthdate %>
              <p>
                <strong>Data de Nascimento:</strong>
                <%= I18n.l(director.birthdate) %>
              </p>
            <% end %>
          </div>

          <div class='index-actions'>
            <%= link_to "Ver detalhes", director_path(director), class: "main-button" %>
          </div>

        </div>
      <% end %>
  <% end %>

</section>
