<section class='section-container align-center '>

  <h2 class='section-title'>Cadastrar novo Diretor</h2>

  <%= form_with model: Director.new , html: { class: "form" } do |f| %>

    <div class="name">
      <%= f.label :name, "Nome do Diretor:" %>
      <%= f.text_field :name %>
    </div>

    <div class="country">
      <%= f.label :nacionality, "Nacionalidade:" %>
      <%= f.text_field :nacionality %>
    </div>

    <div class="date">
      <%= f.label :birthdate, "Data de Nascimento:" %>
      <%= f.date_field :birthdate %>
    </div>

    <div class="genre">
      <%= f.label :favorite_genre_id, "Gênero Favorito:" %>
      <%= f.select :favorite_genre_id, @genres.map { |g| [g.name, g.id] }, :prompt => "Selecione" %>
    </div>

    <div class="submit">
      <%= f.submit "Criar", class: "submit-button" %>
    </div>

  <% end %>
</section>
