<%= stylesheet_link_tag "new-director", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "back-button", "data-turbo-track": "reload" %>

<section class='new-director-container'>

  <h2>Cadastrar novo Diretor</h2>

  <%= link_to root_path, class: "back-link" do %>
    <div class='back'>
      <img src="/imgs/blue-back-arrow.png" alt="Voltar">
      Voltar
    </div>
  <% end %>


  <%= form_with model: @director do |form| %>

    <div class="director-name">
      <%= form.label :name, "Nome do Diretor" %>
      <%= form.text_field :name %>
    </div>

    <div class="director-nacionality">
      <%= form.label :nacionality, "Nacionalidade" %>
      <%= form.text_field :nacionality %>
    </div>

    <div class="director-birthdate">
      <%= form.label :birthdate, "Data de Nascimento" %>
      <%= form.date_field :birthdate %>
    </div>

    <div class="director-favorite-genre">
      <%= form.label :favorite_genre_id, "Gênero Favorito" %>
      <%= form.collection_select :favorite_genre_id, Genre.order(:name), :id, :name %>
    </div>

    <div class="submit-container">
      <%= form.submit "Criar", class: "submit-button" %>
    </div>

  <% end %>
</section>
