<section class='section-container align-center'>

  <h2 class='section-title'>Diretor <%= @director.name %></h2>

  <div class='director-details'>

    <div class='director-info'>

      <h3 class='director-title'>Informações sobre o Diretor</h3>

      <p><strong>Nacionalidade:</strong> <%= @director.nacionality %></p>
      <p><strong>Data de Nascimento:</strong> <%= @director.birthdate %></p>
      <p><strong>Gênero Favorito:</strong> <%= link_to @director.favorite_genre.name, @director.favorite_genre %></p>

    </div>

    <div class='director-movies'>

      <h3 class='director-title'>Filmes do Diretor</h3>

      <% if @director.movies.empty? %>
        <p>Nenhum filme cadastrado para este diretor.</p>
      <% end %>

      <% @director.movies.each do |movie| %>
        <%= link_to movie_path(movie), class: "movie-link", title: "Ver detalhes de #{movie.title}" do %>
          <div class='movie-card'>
            <%= movie.title %>
            <img src="<%= movie.cover_url %>" alt="Capa de <%= movie.title %>"/>
            <%= "Ver detalhes" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

</section>
