<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>FilmClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="nav-header">
      <h1>
        <%= link_to "FilmClub.", root_path%>
        <span> Seu Catálogo de Filmes</span>
      </h1>

      <nav>
        <%= link_to "Inicio", root_path%>
        <%= link_to "Filmes", movies_path%>
        <%= link_to "Diretores", directors_path%>
        <%= link_to "Genêros", genres_path%>
      </nav>
    </header>

  <main>
    <%= yield %>
  </main>

  </body>
</html>
